body { background-color: #EEE; }

.row {
	display: inline-block;
}

#message {
	color: white;
	background-color: black;
    width: 300px;
    height: 3em;
}

#window {
    background-color: white;
    width: 500px;
    padding: 1em;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*
.rangeInput input { 
	background-color: #FFF;
}
*/