<!doctype html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script src="./send.js"></script>
	</head>

  <body>

    <script>
      function sendCommand(cmd) {
        send("http://localhost:8000/", {type: "code", code:cmd}, parseResponse)
      }
      function sendEval(cmd) {
        send("http://localhost:8000/", {type: "code", code:cmd}, parseResponse)
      }
      function parseResponse(r) {
        DATA.status = r.status
        DATA.result = r.result
      }
    </script>

    <div id="app">
      <p style="width:48em;"> This panel is an example of how to send commands to the server.
        You can send single line commands or multiline scripts. If you want something in return,
        use print() to get it.
      </p>
      <br><br>
      <span>status: {{data.status}}</span>
      <br>
      <span>result: {{data.result}}</span>
      <br>
      <span>&gt;&gt;&gt; <input v-model="data.command" v-on:keyup.enter="send" type="text"/></span>
      <br>
      <span>code: <br><textarea cols="80" rows="10" v-model="data.code" type="text"></textarea>
        <br>
        <button v-on:click="sendCode">Send</button></span>
    </div>

    <script>
    var DATA = {}
    DATA.status = ''
    DATA.result = ''
    DATA.command = ''
    DATA.code = ''

    var methods = {
      send: () => {sendEval(DATA.command); DATA.command = ''},
      sendCode: () => {sendCommand(DATA.code);},
    }

    var app = new Vue({
      el: '#app',
      data: {data: DATA},
      methods: methods,
    })
    </script>



  </body>
</html>
