<!doctype html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>App</title>
    <link rel="stylesheet" href="./style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script src="../main/send.js"></script>
	</head>

  <body>

    <script>
      function sendCommand(cmd) {
        send("http://localhost:8000/", {type: "command", cmd:cmd}, ()=>null )
      }
      function sendDict(data) {
        send("http://localhost:8000/", {type: "update", dict:data}, update )
      }
      function update(r) {
          DICT.data = copy(r.result);
          DICT.result = copy(r.result);
      }
      function copy(obj) {
        return JSON.parse(JSON.stringify(obj))
      }

    </script>

    <div id="app">
      <p style="width:48em;"> This panel is an example of how to send data to the server.
        The data is stored locally in a JavaScript object 'DICT'.
        It has a copy on the python server in a python dictionary in the SCOPE.</p>
      <br><br>
      response: {{dict.result}}
      <br><br>
      text: <input v-model="dict.data.text" v-on:change="send" type="text"/>
      <br><br>
      number: <input v-model="dict.data.number" type="range"></input>
      <br><br>
      number: <input v-model="dict.data.number" type="number"></input>
      <br><br>
      button: <button v-on:click="send">Click</button>
    </div>

    <script>
    var DICT = {}
    DICT.data = {}
    DICT.data.text = ''
    DICT.data.number = ''

    var methods = {
      send: () => {sendDict(DICT.data);},
    }

    var app = new Vue({
      el: '#app',
      data: {dict: DICT},
      methods: methods,
    })
    </script>



  </body>
</html>
