
input[type='range'] {
  background-color: rgba(1,1,1,0)
}
input[type='range']::-moz-range-track{
  -moz-appearance: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
  background-color: #CCC;
  height: 8px;
  vertical-align:middle;
  margin:0; padding:0;
  border: none;
  cursor: pointer;
}
input[type='range']::-moz-range-thumb {
  -moz-appearance: none ;
  border-radius: 100%;
  background-color: #FFF;
  box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
  height: 22px;
  width: 22px;
  vertical-align:middle;
  border: none;
  cursor: pointer;
  margin-top: -6px;
}
